@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: radial-gradient(
    circle at 0% 0%,
    #373b52,
    #252736 51%,
    #1d1e26
  );
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#title {
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: "Raleway", sans-serif;
}
#subtitle {
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}
#link {
  color: white;
}
#back {
  text-align: center;
}
.gameButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #575b72;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  min-height: 30px;
}
.gameButton a {
  font-size: 30px;
  color: white;
  text-decoration: none;
}
.gameButton:hover {
  filter: brightness(130%);
}
button {
  background-color: #575b72;
  border: none;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 20px 90px;
  cursor: pointer;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  border-radius: 5px;
}
#game-list {
  border: 2px solid;
  border-image: linear-gradient(
      90deg,
      #B294FF 0%,
      #57E6E6 49%,
      #FC4F4F 80%,
      #00C0FF 100%
    )
    1;
  width: 75vw;
  min-height: 20px;
}
#game-list h4 {
  color: white;
  margin: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gameButtonIcons ion-icon {
  color: white;
  font-size: 25px;
  transition: color .2s ease;
}
.gameButtonIcons ion-icon[name="trash-outline"]:hover {
  color: red;
}
.gameButtonIcons ion-icon[name="create-outline"]:hover {
  color: orange;
}
.gameButtonIcons ion-icon[name="arrow-redo-outline"]:hover {
  color: lime;
}