@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: radial-gradient(circle at 0% 0%, #373b52, #252736 51%, #1d1e26);
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#title{
    color:white;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    text-align: center;
    margin-bottom: 0;
}
#gamePinText{
    text-align: center;
    color: white;
    font-family: 'Tajawal', sans-serif;
    font-size: 50px;
    margin-top: 10px;
    animation: flashing 0.5s linear infinite;
}
#players h1{
  margin: 10px 70px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}
#players h1:hover{
  text-decoration: line-through;
}
@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

button{
    background-color: #7881A1;
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    border-radius: 4px;
}

button.player {
    background-color: #BFD2FF;
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    border-radius: 4px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75vw;
}
@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes flashing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}

.card {
  background: #191c29;

  position: relative;
  border-radius: 6px;

  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
  text-align: center;
  font-size: 20px;
  resize: none;
  padding: 30px;
  flex-grow: 1;
  width: 75vw;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: 30px;
}

.card::before {
  content: "";
  width: 101.5%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -.7%;
    animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: -150px;
  right: 0;
  top: -50px;
  z-index: -1;
  height: 115%;
  width: 120%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
    opacity: 1;
  background-size: 150%;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}