body {
  margin: 0;
  background: radial-gradient(circle at 0% 0%, #373b52, #252736 51%, #1d1e26);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header {
  width: 100vw;
  height: 70px;
  background: white;
}

.mainContent {
  width: 100vw;
  flex-grow: 1;
  display: flex;
  flex-flow: column;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h1 {
  color: white;
  font-family: Arial;
  margin: 50px;
}

.timer {
  margin: 50px;
}

.imageWrapper {
  flex-grow: 1;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 25px;
}

.questionEnd {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle at 0% 0%, #373b52, #252736 51%, #1d1e26);
  display: flex;
  flex-flow: column;
  opacity: 0;
}

.endQuestionButtons {
  margin: 20px 50px;
  padding: 20px 50px;
  border: none;
  color: white;
  background: #7881a1;
  border-radius: 4px;
  cursor: pointer;
}

.endQuestionHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.endQuestionHeader h1 {
  color: white;
  font-family: arial;
  font-size: 3em;
}

.answerStats {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.statWrapper {
  flex-grow: 1;
  margin: 10px;
  display: flex;
  flex-flow: column;
  justify-content: end;
}

.statWrapper:nth-child(1) .graphWrapper .graph {
  background: #4caf50;
}
.statWrapper:nth-child(2) .graphWrapper .graph {
  background: #f94a1e;
}
.statWrapper:nth-child(3) .graphWrapper .graph {
  background: #3399ff;
}
.statWrapper:nth-child(4) .graphWrapper .graph {
  background: #ff9933;
}

.graphWrapper {
  flex-grow: 1;
  background: rgba(255, 255, 255, 0.2);
  margin: 20px;
  display: flex;
  align-items: flex-end;
}

.graph {
  flex-grow: 1;
}

p {
  color: white;
  font-size: 150%;
}
