@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: radial-gradient(circle at 0% 0%, #373b52, #252736 51%, #1d1e26);
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#title{
    color:white;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    text-align: center;
    margin-bottom: 0;
}
#gamePinText{
    text-align: center;
    color: white;
    font-family: 'Tajawal', sans-serif;
    font-size: 50px;
    margin-top: 0;
    animation: flashing 0.5s linear infinite;
}
#players{
    text-align: center;
    font-size: 20px;
    resize: none;
    background-color: rgba(57, 63, 84, 0.8);
    border: 3px solid;
    border-image: linear-gradient(var(--angle), #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6) 1;
    animation: 10s rotate linear infinite;
    padding: 30px;
    flex-grow: 1;
    width: 75vw;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: 30px;
}
#players h1{
  margin: 10px 70px;
  color: white;
  font-size: 30px;
}
@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

button{
    background-color: #3A3B3A;
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    border-radius: 4px;
}

button.player {
    background-color: #BFD2FF;
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    border-radius: 4px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75vw;
}
@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes flashing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}