body {
  margin: 0;
  background: radial-gradient(circle at 0% 0%, #373b52, #252736 51%, #1d1e26);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
}

.header {
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header p {
  margin: 20px;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}

.submitMultipleChoice {
  display: none;
  width: calc(100% - 20px);
  height: 80px;
  margin: 10px;
  margin-top: 0;
  background: white;
  border: none;
  font-size: 2.5em;
}

.question {
  background: rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h1 {
  color: white;
  font-size: 4em;
  margin-left: 10vh;
}

#questionImage {
  height: 20vh;
  width: 20vh;
  margin-right: 10vh;
}

.answers {
  display: flex;
  flex-wrap: wrap;
  width: calc(100%);
  padding: 10px 0;
  flex-grow: 1;
}

.answer {
  width: calc(50% - 15px);
  flex-grow: 1;
  border: white 3px solid;
  color: white;
  font-size: 2.5em;
  margin: 5px;
}

.answer:hover {
  filter: brightness(90%);
}

.answer:active {
  filter: brightness(80%);
}

.answer:nth-of-type(1) {
  background: #4CAF50;
}
.answer:nth-of-type(2) {
  background: #f94a1e;
}
.answer:nth-of-type(3) {
  background: #3399ff;
}
.answer:nth-of-type(4) {
  background: #ff9933;
}

.message {
  display: none;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100000000000;
}

.message h1 {
  font-size: 8em;
}

.correct {
  background: #4CAF50;
}

.incorrect {
  background: #f94a1e;
}

.submitted {
  background: white;
  color: black;
}

.partialCorrect {
  background: orange;
}
