body {
  margin: 0;
  background-image: radial-gradient(
    circle at 0% 0%,
    #373b52,
    #252736 51%,
    #1d1e26
  );
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-family: 'Raleway' sans-serif;
}
.editor {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.editor .navigation {
  width: 8%;
  border: none;
  margin: 0;
  font-size: 125px;
  background: rgba(255, 255, 255, 0.1);
  color: gray;
  flex-grow: 1 0;
  transition: all 0.2s ease;
}
.editor .navigation.enabled {
  background: rgba(0, 0, 0, 0.1);
  color: white;
}
.editor .navigation.enabled:hover {
  background: rgba(0, 0, 0, 0.3);
}
.editor .content {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.editor .content .question {
  width: 100%;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.editor .content .question input {
  padding: 10px;
  font-size: 30px;
}

.editor .content .options {
  flex: 1 1 auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}

.editor .content .option {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.3);
}

input[type="text"] {
  width: 60%;
  border: none;
  padding: 0 10px;
  background: none;
  color: white;
  height: 25%;
  font-size: 150%;
  border-bottom: 3px solid white;
  display: block;
}

.editor .content .question p {
  font-family: arial;
  font-size: 7vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background: rgba(0, 0, 0, 0.3);
}
.header input[type="text"] {
  padding: 10px;
  width: 30vw;
  display: inline-block;
  border: none;
  border-radius: 5px;
}
.header input[type="text"]:focus {
  border: 1px solid white;
}
.header p {
  display: inline-block;
  color: gray;
  font-size: 12px;
  margin-left: 30px;
}
.header button {
  border: none;
  padding: 10px 30px;
  background: #575b72;
  border-radius: 5px;
  color: white;
  display: inline-block;
  cursor: pointer;
}
.right {
  margin-right: 8%;
}
.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 8%;
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: black;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading ion-icon {
  color: white;
  font-size: 100px;
  transform-origin: calc(50% - 3px);
  animation: spin 2s ease infinite;
}

.loading h1 {
  color: white;
  font-size: 70px;
  font-family: 'Raleway' sans-serif;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}